@import '../../styles/variables';
.banner {
  img {
    width: 100%;
  } 
  &__arrow {
    position: absolute;
    top: 50%;
    border: 0;
    background: none;
    cursor: pointer;

    &--left {
      left: 0;
      transform: translate(0, -50%) rotate(0deg);
    }
    &--right {
      right: 0;
      transform: translate(0, -50%) rotate(180deg);
    }
  }
  &__dots {
    bottom: 20px;
    li {
      button {
        width: 8px;
        height: 8px;
        border: 1px solid $color-primary;
        background-color: transparent;
        margin-right: 8px;
        @media (min-width: $breakpoint-large) {
          width: 16px;
          height: 16px;
          margin-right: 16px;
        }
      }
      &.react-multi-carousel-dot--active {
        button {

          background-color: $color-primary;
        }
      }
    }
  }
}