@import '../../styles/variables';
.bannerbottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
  &__content {
    @media (min-width: $breakpoint-large) {
      flex: 0 1 420px;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    p {
      font-size: $font-size-medium;
      margin-bottom: 16px;
    }
  }
  &__banner {
    @media (min-width: $breakpoint-large) {
      flex: 0 0 1114px;
      margin-left: 40px;
    }
    img {
      max-width: 1114px;
      width: 100%;
    }
  }
}